body,
html {
	color: var(--dark);
	font-size: 1rem;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	font-family: Inter, sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

/*GENERAL*/
.content {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 1.5rem 10rem
}


/*INTRO*/
.header_intro {
	-webkit-padding-before: 8rem;
	padding-block-start: 8rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap
}
.header_intro p {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 160%;
	width: 40rem
}

/*EXPERIENCES PROFESSIONNELLES*/
.block_pro_type1 {
	-webkit-padding-after: 6.5rem;
	padding-block-end: 6.5rem;
	-webkit-padding-before: 5rem;
	padding-block-start: 2rem;
	margin-bottom: 5rem;
}
.block_pro_type2 {
	-webkit-padding-after: 6.5rem;
	padding-block-end: 6.5rem;
	-webkit-padding-before: 5rem;
	padding-block-start: 2rem;
	margin-bottom: 12rem;
}

.block_pro_bgcontainer {
	z-index: 0;
	position: absolute;
	width: 100%;
	max-width: 1200px;
	padding: 0 calc((100% - 1200px) / 2);
	overflow: hidden
}
.block_pro_mask {
	position: relative;
	overflow: hidden;
	transform: translateZ(0);
	border-radius: 1rem
}
.elipse_1 {
	position: absolute;
	transform-origin: center;
	animation: styles_elipsis-1__lQY9J 8s ease-in-out infinite alternate-reverse;
	background-color: red;
	width: 500px;
	height: 600px;
	border-radius: 40rem;
	transform: translateY(300px) translateX(300px);
	z-index: -1
}
.elipse_2 {
	position: absolute;
	transform-origin: center;
	animation: styles_elipsis-2__4bQxk 5s ease-in-out infinite alternate-reverse;
	background-color: red;
	width: 700px;
	height: 600px;
	border-radius: 40rem;
	transform: translateY(300px) translateX(300px);
	z-index: -1
}
.elipse_3 {
	position: absolute;
	transform-origin: center;
	-webkit-animation: styles_circle-1__OouU3 8s ease-in-out infinite alternate;
	animation: styles_circle-1__OouU3 8s ease-in-out infinite alternate;
	background-color: #ff6645;
	width: 500px;
	height: 600px;
	border-radius: 40rem;
	transform: translateY(300px) translateX(300px);
	z-index: -1
}
.elipse_4 {
	position: absolute;
	transform-origin: center;
	-webkit-animation: styles_circle-2__4Blcg 10s ease-in-out infinite alternate;
	animation: styles_circle-2__4Blcg 10s ease-in-out infinite alternate;
	background-color: #ff6645;
	width: 500px;
	height: 600px;
	border-radius: 40rem;
	transform: translateY(500px) translateX(200px) rotate(180deg);
	z-index: -1
}
.block_pro_elipsebg {
	background: var(--blur-bg);
	backdrop-filter: saturate(180%) blur(3rem);
	-webkit-backdrop-filter: saturate(180%) blur(3rem);
	height: 63rem;
	z-index: 1
}
@media (max-width:1024px) {
	.block_pro_elipsebg {
		height: 71rem
	}
}

@media (max-width:414px) {
	.styles_button__N4bxP {
		width: 100%
	}

	.block_pro_elipsebg {
		height: 82rem
	}
}

@media (max-width:375px) {
	.block_pro_elipsebg {
		height: 84rem
	}
}

@media (max-width:320px) {
	.block_pro_elipsebg {
		height: 90rem
	}
}
.block_pro_work {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column
}

.block_pro_work h2 {
	-webkit-margin-before: .5rem;
	margin-block-start: .5rem
}

.block_pro_work p {
	-webkit-margin-before: 0;
	margin-block-start: 0;
	-webkit-margin-after: 0;
	margin-block-end: 0
}

.block_pro_work .block_pro_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 67rem;
	width: 100%
}

.block_pro_work .block_pro_header .block_pro_title {
	width: 16rem
}
@media (max-width:414px) {

	.styles_buttons__6mu6V,
	.block_pro_work .block_pro_header .block_pro_title {
		width: 100%
	}
}

.block_pro_work .block_pro_header p {
	max-width: 48rem
}
.block_pro_wraper {
	margin: 4rem 1.5rem
}
.styles_thing__gScq_ .block_pro_title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	-webkit-margin-after: .5rem;
	margin-block-end: .5rem
}
.block_pro_description {
	line-height: 160%;
	font-size: 1.25rem
}
.block_pro_contain{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.block_pro_picture {
	overflow: scroll
}
.block_pro_picture::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;
	scrollbar-width: none
}