.contentnone {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 1.5rem 0rem;
}
.contentbottom {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 1.5rem 0rem;
    padding-bottom: 10rem;
}
.contenttop {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 1.5rem 0rem;
    padding-top: 10rem;
}
.url {
	color: inherit;
	border-bottom: 1px solid;
	transition: all .1s
}

.url,
.url:hover {
	text-decoration: none
}

.url:hover {
	color: var(--active);
	border-bottom: 1px solid var(--active);
	cursor: pointer
}

.footer {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 1.5rem;
	color: var(--gray-40)
}

@media (prefers-color-scheme:dark) {
	:root {
		--active: #58a2f0;
		--dark: #040407;
		--white: #e7e7e9;
        --svg: #fff;
		--element-background: #111116;
		--element-hover: #14141a;
		--gray-10: #15151a;
		--gray-20: #1e1e24;
		--gray-40: #9797a0;
		--green-10: #171a19;
		--green-20: #262b2a;
		--secondary-text: #838487;
		--primary-button: rgba(71, 71, 74, 0.1);
		--primary-button-hover: rgba(71, 71, 74, 0.2);
		--secondary-button: #15151a;
		--secondary-button-hover: #353540;
		--button-text: #e7e7e9;
		--sidebar-background: #111115;
		--blur-bg: hsla(0, 0%, 100%, 0.07);
		--icon: invert(99%) sepia(100%) saturate(2%) hue-rotate(306deg) brightness(113%) contrast(100%);
		--text-opacity: 0.7
	}

	body {
		background-color: var(--dark);
		color: var(--white)
	}
}

@media (prefers-color-scheme:light) {
	:root {
		--active: #0d109c;
		--dark: #232426;
		--white: #fff;
        --svg: #232426;
		--element-background: #fafafa;
		--element-hover: #fff;
		--gray-10: #fafafa;
		--gray-20: #f6f6f6;
		--gray-40: #4a4a54;
		--green-10: #f0f6f5;
		--green-20: #e1e8e7;
		--secondary-text: #53565a;
		--primary-button: #f7f9f9;
		--primary-button-hover: #eef2f2;
		--secondary-button: #eff1f1;
		--secondary-button-hover: #d7dddd;
		--button-text: #232426;
		--sidebar-background: #f8f9fa;
		--blur-bg: rgba(170, 196, 200, 0.1);
		--icon: invert(10%) sepia(5%) saturate(719%) hue-rotate(182deg) brightness(99%) contrast(89%);
		--text-opacity: 0.8
	}
}